#nav-contain {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #333;
}
#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  background-color: #333;
}

#navigation ul li {
  float: left;
}

#navigation ul li a {
  display: block;
  text-decoration: none;
}

#pg2title {
text-align: center;
}

#section1 {
  background-color: rgb(255, 224, 194);
}

#border1{
  border: 2px solid black;
  border-radius: 5px;
}

#border2{
  border: 2px solid black;
  border-radius: 5px;
}

#border3{
  border: 2px solid black;
  border-radius: 5px;
}

#border4{
  border: 2px solid black;
  border-radius: 5px;
}
