#nav-contain {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #333;
}
#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  background-color: #333;
}

#navigation ul li {
  float: left;
  display: block;
}

#navigation ul li a {
  display: inline-block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

#block1{
  border: 2px solid black;
}
#block2{
  border: 2px solid black;
}
#block3{
  border: 2px solid black;
}
#center {
  text-align: center;
}

#page1{
  width: 800px;
  height: 800px;
  font-family: 'Times New Roman', serif;
}

#page2.context {
  width: 80%;
  background-color: black;
  list-style-type: none;
}
#page2{
  left: 18%;
  right: 18%;
  font-family: 'Fondamento', cursive;
  text-align: left;
  list-style-type: none;
  background-color: black;
}

#page2.body{
  background-color: black;
}

#page3{
  font-family: 'Sacramento', cursive;
}

#title {
text-align: center;
background: url(img_page2_back.jpg);
background-repeat: no-repeat;
background-size: auto;
padding: 15px;
}

#border1{
  border: 2px solid black;
  border-radius: 5px;
    background-color: rgb(255, 224, 194);
}

#border2{
  border: 2px solid black;
  border-radius: 5px;
    background-color: rgb(235, 245, 251);
}

#border3{
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(235, 245, 251);
}

#border4{
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(234, 250, 241);
}
